 /* div {
    width: 300px;
    height: 500px;
    background-color: blueviolet;
    color: white;
    text-align: center;

} */

section{
    width: 250px;
    padding-bottom: 0;
   
    
}

.img-container{
    width: 250px;
    /* background-color: #ebe9e9; */
    display: flex;
    justify-content: center;
    padding: 20px;
}

.img-container img {
    height: 150px;
}

.product-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 0;
}

p{
    text-align: center;
    font-size: 13px;
}

strong {
    color: red;
}

button {
    width: 100%;
   border: none;
   height: 40px;
   background-color:red;
   color: white;
   cursor:pointer;
}


