<main>
    <h2>Produto da Loja</h2>
    <hr>
    <section> 
    </section>
    <div>
        Garnier
        <p class="texto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, similique eveniet eligendi atque magnam voluptatibus animi, tenetur obcaecati eos minus earum, officiis consequuntur assumenda vero! Cum enim est fugiat ducimus? </p>
            <strong class="preco">
                $60,00
            </strong>
    </div>
    <button>ADD TO CART</button>
</main>