<app-card corBtn="blue"></app-card>
<app-card titulo="Aprendendo comunicação entre componentes."
    userFoto="https://images.unsplash.com/photo-1616723355545-95f2f2abb4d4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
    username="Manoela Dias"
    ></app-card>
    <app-uploader (uploadCompleto)="mostrarMsg()"></app-uploader>
<!--Ao clicar no botão, desejo executar o método click() do input file-->
<!--Variáveis de templates - template variables-->
<!-- A # é usada pra declarar uma variável, no caso abaixo #inputFile-->
    <input type="file" #inputFile>
    <button id="btn" (click)="inputFile.click()">Selecionar um arquivo</button>