.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  mat-card {
    width: 400px;
  }

  div {
    display: flex;
    justify-content: start;
    height: 70%;
  }
  
  mat-card + mat-card {
    margin-left: 32px;
  }
  
  .desc {
    text-align: justify;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }

  .icone {
    right: 15px;
    top:88%;
    position: fixed;
  }

