main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.sec1 {
  margin-top: 50px;
  
  
}

.sec2 {
  padding: 20px;
  margin-top: 25px;
  border: 0.5px solid rgb(119, 132, 145);
  border-radius: 5px;
  background-color: aqua;
}

.logo {
  margin-top: 50px;
}